/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.cardsSection {
  padding: 4rem 0;
}

.cardCol {
  margin-top: 1.5rem;
}

.card {
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.card:hover {
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.cardIcon {
  height: 55px;
  width: 55px;
  margin-bottom: 1rem;
  color: rgba(0, 255, 255, 0.6);
}

.cardTitle {
  margin: 0.5rem 0;
  font-size: 1.25rem;
}

.cardDescription {
  margin: 0;
  flex-grow: 1;
}

.heroBanner {
  padding: 4srem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: black;
  color: white;
}

.dvLogo {
  height: 200px;
  max-width: 100%;
}

@media (max-width: 768px) {
  .dvLogo {
    height: 10%;
  }
}

@media screen {
  .heroBanner {
    padding: 5rem;
    height: 100%;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
